
export/windows/bin/assets/data/data-goes-here.txt
export/windows/bin/assets/images/images-go-here.txt
export/windows/bin/assets/sounds/sounds-go-here.txt
export/windows/bin/assets/music/music-goes-here.txt
*.ico
*.ndll
export/windows/bin/manifest/default.json
*.exe
*.hash
*.exp
*.lib
export/windows/haxe/ManifestResources.hx
*.hxml
export/windows/haxe/ApplicationMain.hx
*.ilk
*.h
*.obj
*.pch
export/windows/obj/obj/msvc1964-debug-nc/Options.txt
*.pdb
*.cpp
export/windows/obj/Options.txt
export/windows/obj/obj/msvc1964-debug-nc/all_objs
export/windows/obj/Build.xml
