
export/windows/bin/assets/data/data-goes-here.txt
export/windows/bin/assets/images/images-go-here.txt
export/windows/bin/assets/sounds/sounds-go-here.txt
export/windows/bin/assets/music/music-goes-here.txt
*.ico
*.ndll
export/windows/bin/manifest/default.json
*.exe
*.hash
*.exp
*.lib
export/windows/haxe/ManifestResources.hx
*.hxml
export/windows/haxe/ApplicationMain.hx
*.ilk
*.h
*.obj
*.pch
export/windows/obj/obj/msvc1964-debug-nc/Options.txt
*.pdb
*.cpp
export/windows/obj/Options.txt
export/windows/obj/obj/msvc1964-debug-nc/all_objs
export/windows/obj/Build.xml
export/html5/bin/assets/data/data-goes-here.txt
export/html5/bin/assets/images/images-go-here.txt
export/html5/bin/assets/sounds/sounds-go-here.txt
export/html5/bin/assets/music/music-goes-here.txt
export/html5/bin/favicon.png
*.svg
*.ttf
*.woff
export/html5/bin/flixel/images/ui/button.png
export/html5/bin/flixel/images/logo/default.png
export/html5/bin/flixel/sounds/beep.mp3
*.eot
export/html5/bin/flixel/sounds/beep.ogg
export/html5/bin/flixel/sounds/flixel.ogg
export/html5/bin/flixel/sounds/flixel.mp3
*.html
export/html5/bin/manifest/default.json
export/html5/haxe/ApplicationMain.hx
export/html5/haxe/ManifestResources.hx
